<h1 md-colors="{color:'primary'}" class="section-header">Projects</h1>
<md-content>
	<md-list flex layout="row" layout-wrap>
		<md-subheader class="md-no-sticky" flex="100">3 line item (with hover)</md-subheader>
		<md-divider flex="100"></md-divider>
		<md-list-item class="md-3-line" ng-click="null" flex="33">
			<md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Maze Solver</h3>
				<h4>C++</h4>
				<p>A console-based application that solves mazes using stacks.</p>
			</div>
		</md-list-item>
		<md-list-item class="md-3-line" ng-click="null" flex="33">
			<!-- <md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain colored"></md-icon> -->
			<md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Maze Solver</h3>
				<h4>C++</h4>
				<p>A console-based application that solves mazes using stacks.</p>
			</div>
		</md-list-item>
		<md-list-item class="md-3-line" ng-click="null" flex="33">
			<!-- <md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain colored"></md-icon> -->
			<md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Maze Solver</h3>
				<h4>C++</h4>
				<p>A console-based application that solves mazes using stacks.</p>
			</div>
		</md-list-item>
		<md-list-item class="md-3-line" ng-click="null" flex="33">
			<!-- <md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain colored"></md-icon> -->
			<md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain"></md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Maze Solver</h3>
				<h4>C++</h4>
				<p>A console-based application that solves mazes using stacks.</p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
