
html, body {
  height: 100%;
}

.h-divider {
  border-left: 1px solid rgba(200,200,200,0.5);
  margin: 0.6em 0 0.6em 0;
}

.navbar-item-margin {
  margin-left: 1.0em;
  margin-right: 1.0em;
}

.navbar-bg {
  background: #7b1fa2;
}

.sidebar-bg {
  background-color: #888;
}

#content {
  position: absolute;
  width: 100%;
}

.md-48 {
  font-size: 32px;
}
