
<div class="about-section" layout="column" layout-padding>
	<div flex>
		<h1 md-colors="{color:'primary'}" class="section-header">Welcome</h1>
	</div>
	<div flex>
		<div layout="row" layout-wrap>
			<div flex="66" flex-xs="100">
				<p>
					Welcome to my portfolio!
				</p>
				<p>
					Versatile and detail-oriented mobile software engineer with 7 years of experience specializing in Android development. Passionate about clean coding practices and software architecture. I have collaborated on diverse projects for prestigious companies and brands including Viacom/ViacomCBS/Paramount Global, Turner Media, Cartoon Network, NewsON, Nickelodeon, Nick Jr., Adult Swim, and MTV.
				</p>
				<p>
					I am committed to continuous learning and staying on the cutting-edge of technology. I believe in fostering a collaborative environment, leading and following as needed, to achieve the highest levels of project success.
				</p>
				<p>
					I am always eager to tackle new challenges, I seek innovative solutions to optimize user experiences and deliver exceptional results.
				</p>
			</div>
			<div flex="33" flex-xs="100">
				<img src="assets/img/me.jpg" class="my-face"/>
			</div>
		</div>
	</div>
</div>
