
<div class="about-section" layout="column" layout-padding>
	<div flex>
		<h1 md-colors="{color:'primary'}" class="section-header">Welcome</h1>
	</div>
	<div flex>
		<div layout="row" layout-wrap>
			<div flex="66" flex-xs="100">
				<p>
					Welcome to my portfolio!
				</p>
				<p>
					Seasoned Software Engineer with 7 years of experience building scalable, user-focused applications for clients like Paramount Global and Turner Media. Skilled in clean code practices, modern architecture (MVVM, Clean Architecture), and designing intuitive user interfaces. Passionate about leveraging my programming expertise and rapid learning ability—demonstrated by mastering Java and Android SDK from scratch—to innovate in interactive software, including video games. Thrive in collaborative, fast-paced teams to deliver high-quality solutions.
				</p>
			</div>
			<div flex="33" flex-xs="100">
				<img src="assets/img/me.jpg" class="my-face"/>
			</div>
		</div>
	</div>
</div>
