<h1 md-colors="{color:'primary'}" class="section-header">Contact Information</h1>
<!-- <img class="business-card" src="assets/img/business_card_optimized.svg" md-whiteframe="1"/> -->
<p>
	Feel free to contact me with any inquiries.
</p>
<div>
	<ul style="list-style-type: none;">
		<li>
			<h2><a href="tel:902-412-5896" class="contact-link" md-colors="{color:'primary'}">+1 902 412 5896</a></h2>
		</li>
		<li>
			<md-icon class="contact-icon" md-font-icon="fa fa-envelope"></md-icon>
			<a md-colors="{color:'primary'}" class="contact-link" href="mailto:me@omarsilva.net">me@omarsilva.net</a>
		</li>
		<li>
			<md-icon class="contact-icon" md-font-icon="fa fa-linkedin"></md-icon>
			<a md-colors="{color:'primary'}" class="contact-link" href="https://www.linkedin.com/in/odcolon/">linkedin.com/in/odcolon/</a>
		</li>
		<li>
			<md-icon class="contact-icon" md-font-icon="fa fa-twitter"></md-icon> <span md-colors="{color:'primary'}" class="contact-link">@ODSilva78</span>
		</li>
		<li>
			<md-icon class="contact-icon" md-font-icon="fa fa-github"></md-icon> <span md-colors="{color:'primary'}" class="contact-link">ODCSilva</span>
		</li>
	</ul>
</div>
