<div layout="column" layout-padding>
	<div flex style="position: relative" ng-controller="ExperienceController">
		<h1 md-colors="{color:'primary'}" class="section-header">Experience & Education</h1>
		<md-button ng-href="assets/files/Omar Silva - Resume.pdf"
		target="_blank" ng-class="{'md-button md-primary':$mdMedia('xs'),'md-button md-primary resume-button':$mdMedia('gt-xs')}">
			<span>Download Resume</span>
			<md-icon md-font-icon="fa fa-file"></md-icon>
		</md-button>
	</div>
	<div flex ng-controller="ExperienceController">
		<h2 md-colors="{color:'primary'}" class="section-header subheader">Experience</h2>
		<div layout="column" ng-repeat="job in jobs" class="resume-panel">
			<div layout="row" layout-wrap layout-padding class="project-frame" md-whiteframe="6" md-colors="{backgroundColor:'grey-800'}">
				<div flex="50" flex-xs="100">
					<span class="section-header subheader">{{job.title}}</span>
				</div>
				<div flex="50" ng-class="{'align-right':$mdMedia('gt-xs')}"  flex-xs="100">
					{{job.dates}}
				</div>
				<div flex="50" flex-xs="100">
					<em>{{job.company}}</em>
				</div>
				<div flex="50" ng-class="{'align-right':$mdMedia('gt-xs')}" flex-xs="100">
					<em>{{job.location}}</em>
				</div>
				<div flex="100">
					<ul class="experience-list">
						<li ng-repeat="d in job.duties">
							{{d.text}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div flex ng-controller="ExperienceController">
		<h2 md-colors="{color:'primary'}" class="section-header subheader">Education</h2>
		<div layout="column" ng-repeat="edu in education" class="resume-panel">
			<div layout="row" layout-wrap layout-padding class="project-frame" md-whiteframe="6" md-colors="{backgroundColor:'grey-800'}">
				<div flex="50">
					<span class="section-header subheader">{{edu.program}}</span>
				</div>
				<div flex="50" ng-class="{'align-right':$mdMedia('gt-xs')}" flex-xs="100">
					{{edu.dates}}
				</div>
				<div flex="50">
					<em>{{edu.institution}}</em>
				</div>
				<div flex="50" ng-class="{'align-right':$mdMedia('gt-xs')}" flex-xs="100">
					<em>{{edu.location}}</em>
				</div>
				<div flex="100">
					<ul class="experience-list">
						<li ng-repeat="ach in edu.achievments">
							{{ach.text}}
						</li>
					</ul>
					<h1 ng-hide="edu.courses == undefined" class="section-header subsubheader">Courses</h1>
					<ul class="experience-list" ng-hide="edu.courses == undefined">
						<li ng-repeat="cor in edu.courses | orderBy:'code'">
							{{cor.code}} - {{cor.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
