<div flex layout="column">
	<div flex ng-controller="LanguageController">
		<h1 md-colors="{color:'primary'}" class="section-header">Programming Languages</h1>
		<md-list flex layout="row" layout-wrap layout-padding>
			<md-list-item class="md-2-line" ng-repeat="lang in languages | orderBy:'name'" ng-click="null" flex="33">
				<md-icon class="project-icon" md-font-icon="{{lang.icon_name}}"></md-icon>
				<div class="md-list-item-text" layout="column">
					<h3 hide-xs flex>{{lang.name}}</h3>
				</div>
			</md-list-item>
		</md-list>
	</div>
	<div flex ng-controller="SkillController">
		<h1 md-colors="{color:'primary'}" class="section-header">Skills</h1>
		<div flex layout="column" ng-repeat="cat in skillCategories | orderBy:'name'" layout-padding>
			<md-subheader class="md-no-sticky" flex="100">{{cat.name}}</md-subheader>
			<md-divider flex></md-divider>
			<md-list flex layout="row" layout-wrap layout-padding>
				<md-list-item class="md-2-line" ng-repeat="skill in cat.skills | orderBy:'name'" ng-click="null" flex="25">
					<md-icon class="project-icon" md-font-icon="{{skill.icon_name}}"></md-icon>
					<div class="md-list-item-text" layout="column">
						<h3>{{skill.name}}</h3>
					</div>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>
