<h1 md-colors="{color:'primary'}" class="md-display-1 section-header">Projects</h1>
<div ng-controller="ProjectController">
	<div layout="row" layout-wrap ng-repeat="p in projects" class="resume-panel" layout-padding>
		<md-toolbar md-colors="{backgroundColor: 'background'}">
			<div class="md-toolbar-tools">
				<h2>
					<span>{{p.name}}</span>
					({{p.languages.name}})
				</h2>
				<md-button class="md-button" ng-href="{{p.github}}" target="_blank">
					View on GitHub
					<md-icon md-font-icon="fa fa-github colored"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div flex="100">
			Platforms: <em>{{p.platforms}}</em>
		</div>
		<div flex="100">
			<p>
				{{p.description}}
			</p>
		</div>
		<div flex="100">
			<div layout="row" layout-wrap>
				<div class="md-padding" flex="50" flex-xs="100" ng-repeat="s in p.screenshots">
					<img class="screenshot" ng-src="{{s.src}}" md-ink-ripple ng-click="showDialog($event,s)"/>
				</div>
			</div>
		</div>
		<div flex="100">
			<md-divider></md-divider>
		</div>
	</div>
</div>
