<h1 md-colors="{color:'primary'}" class="section-header">Projects</h1>
<div ng-controller="ProjectController">
	<div layout="column" layout-wrap ng-repeat="proj in projects" class="resume-panel">
		<md-toolbar md-colors="{backgroundColor:'grey-800'}" class="md-background">
			<div class="md-toolbar-tools">
				<h2 md-truncate flex>{{proj.name}}</h2>
				<md-button ng-href="{{proj.github}}" target="_blank">
					View on GitHub
					<md-icon md-colors="{color:'grey-50'}" md-font-icon="fa fa-github" aria-label="View on GitHub" style="font-size: 36px"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<div flex="100" class="md-padding">
			<p>
				{{proj.description}}
			</p>
		</div>
		<div flex>
			<div layout="row" layout-wrap>
				<md-list flex>
					<md-list-item ng-repeat="ss in proj.screenshots" ng-click="null" flex="20">
						<img ng-src="{{ss.src}}" class="screenshot"/>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</div>
</div>
