<h1 md-colors="{color:'primary'}" class="section-header">Projects</h1>
<md-content>
	<md-list flex layout="row" layout-wrap ng-controller="ProjectController">
		<md-list-item class="md-3-line" ng-click="showDialog($event, proj)" flex="50" flex-xs="100" flex-gt-m="33" ng-repeat="proj in projects">
			<!-- <md-icon class="project-icon" md-font-icon="devicon-cplusplus-plain"></md-icon> -->
			<img ng-src="{{proj.screenshots[0].src}}" class="project-thumb"/>
			<div class="md-list-item-text" layout="column">
				<h3>{{proj.name}}</h3>
				<h4>C++</h4>
				<p>{{proj.short_description}}</p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
