<div flex layout="row" layout-padding layout-wrap ng-controller="SkillController">
	<div flex="100">
		<h1 md-colors="{color:'primary'}" class="section-header">Skills</h1>
	</div>
	<div flex="33" flex-xs="100" flex-sm="50" ng-repeat="cat in skillCategories | orderBy:'name'">
		<div flex class="project-frame md-padding" md-colors="{backgroundColor:'grey-800'}" layout-fill>
			<h1 md-colors="{color:'grey-50'}" class="job-title">{{cat.name}}</h1>
			<ul ng-repeat="skill in cat.skills" class="skill-list">
				<li>
					{{skill.name}}
				</li>
			</ul>
		</div>
	</div>
</div>
