<md-dialog aria-label="{{project.name}}" class="main-container">
	<md-toolbar md-colors="{background:'background'}">
      <div class="md-toolbar-tools">
        <h2>{{project.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-times" aria-label="Close dialog" class="exit-icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

	<md-dialog-content>
		<div class="md-dialog-content">
			<p>
				{{project.long_description}}
			</p>

			<md-button class="md-raised md-primary" ng-href="{{project.github}}" target="_blank">
				<md-icon md-font-icon="fa fa-github" aria-label="View on GitHub" style="font-size: 36px"></md-icon>
				View on GitHub
			</md-button>
		</div>
	</md-dialog-content>
</md-dialog>
