html {
	font-family: 'Open Sans', Roboto, sans-serif;
	font-weight: 300;
}
.align-right {
	text-align: right;
}
.logo {
	max-width: 400px;
	display: block;
	margin: auto;
	margin-bottom: 12px;
}
.contact-info li, .contact-info a {
	font-family: inherit;
	font-weight: 300 !important;
	font-size: 1.1em;
	color: inherit;
}
.contact-icon {
	margin-top: -7px;
    font-size: 20px !important;
    color: rgba(255,255,255,1.0);
}
.contact-info {
	list-style-type: none;
}
.exit-icon {
	font-size: 24px;
	color: rgba(255,255,255,1.0);
}
.experience-list {
	font-weight: 300;
}
.about-section p {
	font-family: inherit !important;
	font-weight: 300;
}
.md-tab {
	font-family: inherit !important;
}
.main-container {
	width:100%;
	max-width: 1024px;
}
.skill-icon {
	font-size: 78px;
}
.project-icon {
	font-size: 48px;
}
.section-header {
	font-family: 'Oswald', 'Open Sans', 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.8em;
	text-transform: uppercase;
}
.section-header.subheader {
	font-size: 1.3em;
}
.section-header.subsubheader {
	font-size: 1.1em;
}
.collapsed-skill-caption {
	display: block;
	height: 48px;
}
.job-title {
	font-weight: bold;
	font-size: 1.1em;
}
.project-thumb {
	display: block;
	width: 30px;
	height: 30px;
}
.tile-caption {
	text-align: center;
	align-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.tile-caption-container {
	background: none;
	height: 38px;
}
md-icon.md-default-theme, md-icon {
	opacity: 1.0 !important;
}
.sidenav-button {
	height: 50px !important;
	width: 50px !important;
	font-size: 36px !important;
}
