html {
	font-family: 'Open Sans', Roboto, sans-serif;
}
.logo {
	max-width: 400px;
	display: block;
	margin: auto;
	margin-bottom: 12px;
}
.contact-link {
	font-family: 'Oswald', 'Open Sans', 'Roboto', sans-serif !important;
	text-decoration: none;
	font-weight: 300 !important;
	font-size: 1.5em;
}
.contact-link:visited {
	color: inherit;
}
.contact-icon {
	margin-top: -7px;
    font-size: 20px !important;
    color: rgba(255,255,255,1.0);
}
p {
	font-family: inherit !important;
	font-weight: 300 !important;
}
.md-tab {
	font-family: inherit !important;
}
.main-container {
	width:100%;
	max-width: 1024px;
}
.skill-icon {
	font-size: 78px;
}
.project-icon {
	font-size: 48px;
}
.section-header {
	font-family: 'Oswald', 'Open Sans', 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.8em;
	text-transform: uppercase;
}
.tile-caption {
	text-align: center;
	align-content: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.tile-caption-container {
	background: none;
	height: 38px;
}
md-icon.md-default-theme, md-icon {
	opacity: 1.0 !important;
}
.sidenav-button {
	height: 50px !important;
	width: 50px !important;
	font-size: 36px !important;
}
